.s-offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  &__link {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
    &--wide {
      grid-column: span 2;
    }
    
    &_img {
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.4s ease;
    }
    &:hover &_img {
      transform: scale(1.1);
    }
    &_img__8 {
      height: 100%;
    }
  }
}
