@use '../../styles/abstracts/variables' as *;

.s-channels {
  display: flex;
  gap: 1em;
  align-items: stretch;
  margin: 1em 0;
  position: relative;
  .s-channels__button {
    display: flex;
    align-items: center;
    svg {
      width: 1em;
      color: $color-white;
      .icon-aktif {
        opacity: .5;
      }
      .icon-pasif {
        opacity: .25;
      }
    }
  }
  .s-channels__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: $radius-main;
    background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.1));
    &:hover,
    &--active {
      background: rgba(0, 0, 0, .8);
    }
  }
}

@media screen and (max-width: 1010px) {
  .s-channels {
    padding: 10px;
  }
}
