@use '../../styles/abstracts/variables' as *;
.c-payments{ display:flex; flex-wrap:wrap; gap:1rem; align-items:center; list-style:none; padding:0; margin:0 }
.c-payments__item{ filter:grayscale(.1); opacity:.9 }